@font-face {
	font-family: 'Quicksand';
	/* Use a relative path to the local font file in `url()`. */
	src: url('./Quicksand-VariableFont_wght.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UnicaOne';
	/* Use a relative path to the local font file in `url()`. */
	src: url('./UnicaOne-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'AutourOne-Regular';
	/* Use a relative path to the local font file in `url()`. */
	src: url('./AutourOne-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}